body {
    padding: 20px;
    background-color: #ffffff;
}

@media(max-width:700px){
    .content-desktop {
                display:none;
    }
}

#conway {
    padding-bottom: 10px;
}

table {
    background-color: #ffffff;
    border-spacing: 0;
}

td {
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #141414;
}

#start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #ffffff, #ffffff);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

td.dead {
    background-color: #ffffff;
}

td.live {
    background-color: #858282;
    border-radius: 10px;
}